# pandas
## pandas의 특징
- numpy를 내부적으로 활용함 = numpy의 특징을 그대로 가짐
- 데이터 분석에 특화된 데이터 구조 제공
- 다양한 데이터 분석 함수 제공
- 데이터베이스에 쉽게 연결이 가능
- json 데이터나 table 요소를 데이터프레임으로 손쉽게 변형이 가능

- 설치는
- !pip install pandas
- !conda install pandas

## pandas에서 다루는 데이터 타입
### 1) dataframe : 2차원의 표 형식 데이터 => 쉽게 생각하면 딕셔너리
### 2) series : 1차원의 벡터 형식 데이터 => 쉽게 생각하면 리스트나 튜플

In [1]:
import pandas as pd

In [13]:
df = pd.DataFrame(
    {'이름' : ['홍길동', '장마철', '소나기', '더워요'],
    'age' : [23, 55, 24, 14],
    '성별' : ['male', 'female', 'female', 'male']}
)
display(df)
print(type(df))
print(type(df['이름']))
print(df['이름'].shape)
print(df['이름'].ndim)
print("-----------------")
display(df[['이름']])
print(type(df[['이름']]))
print(df[['이름']].shape)
print(df[['이름']].ndim)

    이름  age      성별
0  홍길동   23    male
1  장마철   55  female
2  소나기   24  female
3  더워요   14    male

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
(4,)
1
-----------------

    이름
0  홍길동
1  장마철
2  소나기
3  더워요

<class 'pandas.core.frame.DataFrame'>
(4, 1)
2

In [5]:
print(df.shape)

(4, 3)

In [7]:
df.T

        0       1       2     3
이름    홍길동     장마철     소나기   더워요
age    23      55      24    14
성별   male  female  female  male