# 서식지정자, format 메서드
- 이것들을 사용하는 이유는 문자열로만 입력해야 하는 상황에서 같은 위치의 문자를 여러 번 바꿔야 할 필요성이 있음.
- 문자의 자릿수 맞춤, 위치 정렬 등에도 사용

## 서식지정자 %d, %s, %f, %길이s

* 문자를 입력할 땐 %s

In [2]:
print('이 수업의 이름은 %s입니다.' %'핀테크 서비스 기획자')

이 수업의 이름은 핀테크 서비스 기획자입니다.

In [3]:
subject = ['국어', '영어', '수학', '과학', '파이썬', 'database']

In [5]:
for i in subject:
    print('이 수업의 이름은 %s입니다' %i)

이 수업의 이름은 국어입니다
이 수업의 이름은 영어입니다
이 수업의 이름은 수학입니다
이 수업의 이름은 과학입니다
이 수업의 이름은 파이썬입니다
이 수업의 이름은 database입니다

* 정수를 입력할 땐 %d

In [6]:
print('올해는 %d년입니다' %2024)

올해는 2024년입니다

In [7]:
# 소수점은 자동으로 버려짐
print('올해는 %d년입니다' %20.24)

올해는 20년입니다

In [8]:
year = [2019, 2020, 2021, 2022, 2023, 2024]
for i in year :
    print('올해는 %d년입니다' % i)

올해는 2019년입니다
올해는 2020년입니다
올해는 2021년입니다
올해는 2022년입니다
올해는 2023년입니다
올해는 2024년입니다

* 실수를 입력할 땐 %f
* 기본으로 소수점 6자리까지 표시
* 소수점 자릿수 조정은 %.nf으로 함 (여기서 n은 자릿수를 나타냄)

In [11]:
print('사람의 정상 체온은 약 %f도 입니다' % 36.5)
print('사람의 정상 체온은 약 %.1f도 입니다' % 36.5)

사람의 정상 체온은 약 36.500000도 입니다
사람의 정상 체온은 약 36.5도 입니다

* 서식지정자로 %길이s 문자열

In [96]:
print('%10s' %'10자리')
'%10s' %'10자리'

      10자리

'      10자리'

* 서식지정자로 %길이d %숫자

In [18]:
print('%10d 입니다' % 15000)
'%10d 입니다' % 15000

     15000 입니다

'     15000 입니다'

여러 항목을 동시에 넣기 (그럴 땐 튜플로 값들을 묶기)

In [21]:
print('오늘은 %4d년 %2d월 %2d일 입니다.' % (2024, 7, 16))

오늘은 2024년  7월 16일 입니다.

In [22]:
company = ['삼성전자', 'LG전자', '현대차', '대한항공', '하나투어']
stock = [71800, 121000, 195000, 31900, 86600]

In [25]:
for i in range(len(company)) :
    print('%s의 주가는 %d원 입니다' % (company[i], stock[i]))

삼성전자의 주가는 71800원 입니다
LG전자의 주가는 121000원 입니다
현대차의 주가는 195000원 입니다
대한항공의 주가는 31900원 입니다
하나투어의 주가는 86600원 입니다

In [26]:
for com, sto in zip(company, stock) :
    print('%s의 주가는 %d원 입니다' % (com, sto))

삼성전자의 주가는 71800원 입니다
LG전자의 주가는 121000원 입니다
현대차의 주가는 195000원 입니다
대한항공의 주가는 31900원 입니다
하나투어의 주가는 86600원 입니다

## format 메서드 사용
f-string 문자열 포맷팅

- format 메서드 사용
- '{인덱스}'.format(값)
- 인덱스를 사용하지 않아도 됨. 이 경우 순서대로 들어감

In [27]:
print('{0}의 주가는 {1}원입니다.'.format('삼성전자', 71800))

삼성전자의 주가는 71800원입니다.

In [32]:
print('{0}의 주가는 {1}원입니다. {0}의 상한가는 {3}, {0}의 하한가는 {2}원입니다'.format('삼성전자', 71800, 50200, 93000))

삼성전자의 주가는 71800원입니다. 삼성전자의 상한가는 93000, 삼성전자의 하한가는 50200원입니다

format 메서드에 변수로 값 넣기

In [33]:
drama = '오징어게임'
ranking = 1

In [35]:
print('넷플릭스 {0}위 드라마는 {1}입니다.' .format(ranking, drama))

넷플릭스 1위 드라마는 오징어게임입니다.

In [36]:
for com, sto in zip(company, stock) : 
    print('{0}의 주가는 {1}원입니다.'.format(com, sto))

삼성전자의 주가는 71800원입니다.
LG전자의 주가는 121000원입니다.
현대차의 주가는 195000원입니다.
대한항공의 주가는 31900원입니다.
하나투어의 주가는 86600원입니다.

- f-stirng 사용
- f-string은 파이썬 3.6 버전부터 사용 가능

In [37]:
for com, sto in zip(company, stock) : 
    print(f'{com}의 주가는 {sto}원입니다.')

삼성전자의 주가는 71800원입니다.
LG전자의 주가는 121000원입니다.
현대차의 주가는 195000원입니다.
대한항공의 주가는 31900원입니다.
하나투어의 주가는 86600원입니다.

## 3. format 메서드와 f-string으로 문자열 정렬하기, 자리 수 지정해 출력
'{인덱스: <길이}'.format(값) <br>
f'{값:<길이}'

< 10 : 공간을 10칸 확보하고 글자를 왼쪽 정렬 <br>
\> 10 : 공간을 10칸 확보하고 글자를 오른쪽 정렬

In [39]:
print('{0:<10}'.format('삼성전자'))
'{0:<10}'.format('삼성전자')

삼성전자

'삼성전자      '

In [40]:
print('{0:>10}'.format('삼성전자'))
'{0:>10}'.format('삼성전자')

      삼성전자

'      삼성전자'

In [43]:
print(f"{'삼성전자':>10}")

      삼성전자

- 숫자 자리수 맞추고 기본 값 지정하기 <br>
'{인덱스:채울숫자 길이 서식지정자}'.format(값) / 단, 서식지정자에서 '%'는 제외해야 함<br>
f'{값:채울숫자 길이 서식지정자}'

1자리 숫자 앞에 0 추가하기

In [47]:
print('{:02d}&{:03d}'.format(1,2))

01&002

In [51]:
print(f"{1:02d}월")

01월

실수 === 정수 자릿수와 소수점 자릿수 지정

In [55]:
print('{0:2.3f}'.format(100.51553))
print('{0:2.3f}'.format(1.5155))

100.516
1.516

In [57]:
# n.mf 일 때 n은 소수점 포함 전체 자릿수. m은 소수점 자릿수.
print('{0:08.3f}'.format(1.5155))

0001.516

In [61]:
print(f'{100.51553:2.3f}')
print(f'{1.51553:2.3f}')
print(f'{1.51553:08.3f}')

100.516
1.516
0001.516

1월 1일부터 12월 31일까지 출력하는데 1자리라면 앞에 0을 붙여서 출력.

In [65]:
month = list(range(1,13))
day = list(range(1, 32))
for i in month : 
    for j in day :
        print(f'{i:02d}월 {j:02d}일')

01월 01일
01월 02일
01월 03일
01월 04일
01월 05일
01월 06일
01월 07일
01월 08일
01월 09일
01월 10일
01월 11일
01월 12일
01월 13일
01월 14일
01월 15일
01월 16일
01월 17일
01월 18일
01월 19일
01월 20일
01월 21일
01월 22일
01월 23일
01월 24일
01월 25일
01월 26일
01월 27일
01월 28일
01월 29일
01월 30일
01월 31일
02월 01일
02월 02일
02월 03일
02월 04일
02월 05일
02월 06일
02월 07일
02월 08일
02월 09일
02월 10일
02월 11일
02월 12일
02월 13일
02월 14일
02월 15일
02월 16일
02월 17일
02월 18일
02월 19일
02월 20일
02월 21일
02월 22일
02월 23일
02월 24일
02월 25일
02월 26일
02월 27일
02월 28일
02월 29일
02월 30일
02월 31일
03월 01일
03월 02일
03월 03일
03월 04일
03월 05일
03월 06일
03월 07일
03월 08일
03월 09일
03월 10일
03월 11일
03월 12일
03월 13일
03월 14일
03월 15일
03월 16일
03월 17일
03월 18일
03월 19일
03월 20일
03월 21일
03월 22일
03월 23일
03월 24일
03월 25일
03월 26일
03월 27일
03월 28일
03월 29일
03월 30일
03월 31일
04월 01일
04월 02일
04월 03일
04월 04일
04월 05일
04월 06일
04월 07일
04월 08일
04월 09일
04월 10일
04월 11일
04월 12일
04월 13일
04월 14일
04월 15일
04월 16일
04월 17일
04월 18일
04월 19일
04월 20일
04월 21일
04월 22일
04월 23일
04월 24일
04월 25일
04월 26일
04월 27일
04월 28일
04월 29일
04월 30일
04월 31일
05월 01일
05월 02일
05월 03일
05월 04일
05월 05일
05월 06일
05월 07일
05월 08일
05월 09일
05월 10일
05월 11일
05월 12일
05월 13일
05월 14일
05월 15일
05월 16일
05월 17일
05월 18일
05월 19일
05월 20일
05월 21일
05월 22일
05월 23일
05월 24일
05월 25일
05월 26일
05월 27일
05월 28일
05월 29일
05월 30일
05월 31일
06월 01일
06월 02일
06월 03일
06월 04일
06월 05일
06월 06일
06월 07일
06월 08일
06월 09일
06월 10일
06월 11일
06월 12일
06월 13일
06월 14일
06월 15일
06월 16일
06월 17일
06월 18일
06월 19일
06월 20일
06월 21일
06월 22일
06월 23일
06월 24일
06월 25일
06월 26일
06월 27일
06월 28일
06월 29일
06월 30일
06월 31일
07월 01일
07월 02일
07월 03일
07월 04일
07월 05일
07월 06일
07월 07일
07월 08일
07월 09일
07월 10일
07월 11일
07월 12일
07월 13일
07월 14일
07월 15일
07월 16일
07월 17일
07월 18일
07월 19일
07월 20일
07월 21일
07월 22일
07월 23일
07월 24일
07월 25일
07월 26일
07월 27일
07월 28일
07월 29일
07월 30일
07월 31일
08월 01일
08월 02일
08월 03일
08월 04일
08월 05일
08월 06일
08월 07일
08월 08일
08월 09일
08월 10일
08월 11일
08월 12일
08월 13일
08월 14일
08월 15일
08월 16일
08월 17일
08월 18일
08월 19일
08월 20일
08월 21일
08월 22일
08월 23일
08월 24일
08월 25일
08월 26일
08월 27일
08월 28일
08월 29일
08월 30일
08월 31일
09월 01일
09월 02일
09월 03일
09월 04일
09월 05일
09월 06일
09월 07일
09월 08일
09월 09일
09월 10일
09월 11일
09월 12일
09월 13일
09월 14일
09월 15일
09월 16일
09월 17일
09월 18일
09월 19일
09월 20일
09월 21일
09월 22일
09월 23일
09월 24일
09월 25일
09월 26일
09월 27일
09월 28일
09월 29일
09월 30일
09월 31일
10월 01일
10월 02일
10월 03일
10월 04일
10월 05일
10월 06일
10월 07일
10월 08일
10월 09일
10월 10일
10월 11일
10월 12일
10월 13일
10월 14일
10월 15일
10월 16일
10월 17일
10월 18일
10월 19일
10월 20일
10월 21일
10월 22일
10월 23일
10월 24일
10월 25일
10월 26일
10월 27일
10월 28일
10월 29일
10월 30일
10월 31일
11월 01일
11월 02일
11월 03일
11월 04일
11월 05일
11월 06일
11월 07일
11월 08일
11월 09일
11월 10일
11월 11일
11월 12일
11월 13일
11월 14일
11월 15일
11월 16일
11월 17일
11월 18일
11월 19일
11월 20일
11월 21일
11월 22일
11월 23일
11월 24일
11월 25일
11월 26일
11월 27일
11월 28일
11월 29일
11월 30일
11월 31일
12월 01일
12월 02일
12월 03일
12월 04일
12월 05일
12월 06일
12월 07일
12월 08일
12월 09일
12월 10일
12월 11일
12월 12일
12월 13일
12월 14일
12월 15일
12월 16일
12월 17일
12월 18일
12월 19일
12월 20일
12월 21일
12월 22일
12월 23일
12월 24일
12월 25일
12월 26일
12월 27일
12월 28일
12월 29일
12월 30일
12월 31일

- 공백을 원하는 문자로 채우고 자릿수 맞추기<br>
'{인덱스:원하는 숫자 방향 자릿수}'.format(값)<br>
f'{값:원하는 숫자 방향 자릿수}'

In [68]:
print('{0:0>4}'.format(1))
print('{0:3>4}'.format(1))
print('{0:0<4}'.format(1))
print('{0:3<4}'.format(1))
print('{0:$>4}'.format(1))

0001
3331
1000
1333
$$$1

In [71]:
f'{1:%<4}'

'1%%%'

In [ ]:
url = 'https://finance.naver.com/sise/sise_trans_style.naver?sosok=01'

In [72]:
for i in range(1,10) :
    print(f'https://finance.naver.com/sise/sise_trans_style.naver?sosok={i:02d}')

https://finance.naver.com/sise/sise_trans_style.naver?sosok=01
https://finance.naver.com/sise/sise_trans_style.naver?sosok=02
https://finance.naver.com/sise/sise_trans_style.naver?sosok=03
https://finance.naver.com/sise/sise_trans_style.naver?sosok=04
https://finance.naver.com/sise/sise_trans_style.naver?sosok=05
https://finance.naver.com/sise/sise_trans_style.naver?sosok=06
https://finance.naver.com/sise/sise_trans_style.naver?sosok=07
https://finance.naver.com/sise/sise_trans_style.naver?sosok=08
https://finance.naver.com/sise/sise_trans_style.naver?sosok=09

In [73]:
for i in range(1,10) :
    print('https://finance.naver.com/sise/sise_trans_style.naver?sosok={0:02d}'.format(i))

https://finance.naver.com/sise/sise_trans_style.naver?sosok=01
https://finance.naver.com/sise/sise_trans_style.naver?sosok=02
https://finance.naver.com/sise/sise_trans_style.naver?sosok=03
https://finance.naver.com/sise/sise_trans_style.naver?sosok=04
https://finance.naver.com/sise/sise_trans_style.naver?sosok=05
https://finance.naver.com/sise/sise_trans_style.naver?sosok=06
https://finance.naver.com/sise/sise_trans_style.naver?sosok=07
https://finance.naver.com/sise/sise_trans_style.naver?sosok=08
https://finance.naver.com/sise/sise_trans_style.naver?sosok=09

파일 이름을 한 번에 바꾸기 <br>
숫자로 되어 있는 1자리 혹은 2자릿수 파일 이름을 앞을 0으로 채우는 3자릿수 숫자로 이름 변경

In [90]:
img_list = ['1.jpg', '10.jpg', '11.jpg', '2.jpg', '3.png']
for i, j in enumerate(img_list) :
    img_list[i] = f'{j:0>7}'
print(img_list)

['001.jpg', '010.jpg', '011.jpg', '002.jpg', '003.png']

In [94]:
img_list = ['1.jpg', '10.jpg', '11.jpg', '2.jpg', '3.png']
img_list = [f'{j:0>7}' for j in img_list]
print(img_list)

['001.jpg', '010.jpg', '011.jpg', '002.jpg', '003.png']