# 1. 두 개의 숫자를 입력받아 합/차/곱/나눗셈을 출력하는 calculation 함수를 작성하라.



```
calculation(3, 4)
```



```
3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75
```

In [5]:
def calculation(a,b) : 
    add = a + b
    sub = a - b
    mul = a * b
    nanu = a / b
    print(f'{a} + {b} = {add}')
    print(f'{a} - {b} = {sub}')
    print(f'{a} * {b} = {mul}')
    print(f'{a} / {b} = {nanu}')
calculation(3,4)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

# 2. 입력된 문자열을 역순으로 출력하는 print_reverse 함수를 정의하라.



```
print_reverse("Hello, World!")
```

```
!dlroW ,olleH
```

In [8]:
def print_reverse(a) :
    return a[::-1]
print_reverse('hello world!')

'!dlrow olleh'

# 3. 하나의 리스트를 입력받아 짝수만 화면에 출력하는 print_even 함수를 정의하라.



```
print_even ([1, 3, 2, 10, 12, 11, 15])
```



```
2
10
12
```

In [10]:
def print_even(a) :
    for i in a :
        if i % 2 == 0 :
            print(i)
print_even([1,3,2,10,12,11,15])

2
10
12

# 4. 하나의 딕셔너리를 입력받아 딕셔너리의 key 값을 화면에 출력하는 print_keys 함수를 정의하라.



```
print_keys ({"이름":"김말똥", "나이":30, "성별":0})
```



```
이름
나이
성별
```

In [12]:
def print_keys(a) :
    for i in a :
        print(i)
print_keys({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

# 5. 문자열 하나를 입력받아 인터넷 주소를 반환하는 make_url 함수를 정의하라.



```
make_url("naver")
```



```
www.naver.com
```

In [13]:
def make_url(a) :
    print(f'www.{a}.com')
make_url("naver")

www.naver.com

# 6. 숫자로 구성된 하나의 리스트를 입력받아, 짝수들을 추출하여 리스트로 반환하는 pickup_even 함수를 구현하라.



```
pickup_even([3, 4, 5, 6, 7, 8])
```



```
[4, 6, 8]
```

In [16]:
def pickup_even(a) :
    b = []
    for i in a :
        if i % 2 == 0 :
            b.append(i)
    return b
            
pickup_even([3,4,5,6,7,8])

[4, 6, 8]

# 7. 콤마가 포함된 문자열 숫자를 입력받아 정수로 변환하는 convert_int 함수를 정의하라.



```
convert_int("1,234,567")
```



```
1234567
```

In [33]:
def convert_int(a) :
    b = []
    c = ""
    for i in a :
        if i != ',' :
            b.append(i)
    for j in range(len(b)) :
        c += b[j]
    return(int(c))
convert_int("1,234,567")

1234567

In [35]:
## replace함수 사용하면 더 쉬움
def convert_int(a) :
    result = int(a.replace(',',''))
    return result
convert_int("1,234,567")

int