# 함수 만들기

* 함수의 괄호 안에 값을 넣으면 출력을 해주거나 입력을 받거나 변환을 해 줌
* 도구의 개념
* 자주 사용하는 기능을 미리 만들어서 반복 재사용할 수 있게 만드는 것

### 함수 만드는 법
def 함수이름() : <br>
____실행할 코드 <br>
____return 반환값

In [1]:
def hello() :
    print('hello 파이썬 함수 만들기')
    
hello()

hello 파이썬 함수 만들기

## 함수 호출 순서
* 함수는 호출하기 전에 반드시 먼저 정의되어 있어야 하고(만들어 놔야 함)
* 함수 정의가 실행보다 위에 있어야 합니다.

## 함수의 매개변수
* 함수의 괄호 안에 받는 값
* 괄호 안에 값을 받아서 함수 내에서 처리할 때 사용

매개변수 1개짜리 함수

In [2]:
# 원의 넓이를 구하는 함수
def circle(c) :
    print("원의 넓이는 : ", c * c * 3.14)
    return c * c * 3.14

In [3]:
circle(3)

원의 넓이는 :  28.26

28.26

매개변수 2개짜리 함수 - 덧셈 함수 만들기

In [4]:
def add(a, b) : 
    return a + b

In [5]:
add(10,3)

13

매개변수 3개짜리 함수 - 첫 번째 변수 = 시작, 두 번째 변수 = 끝, 세 번째 변수 = 증감 <br>
interval이라는 이름의 함수를 만들어라 <br>

In [32]:
def interval(a,b,c) :
    L = []
    i = a
    L.append(i)
    while i <= b :
        if i+c > b :
            break
        else:
            i += c
            L.append(i)
    return L

In [33]:
interval(1,10,2)

[1, 3, 5, 7, 9]

In [13]:
def num_maker(a,b,c) :
    result = [i for i in range(a,b,c)]
    return result

In [36]:
result = num_maker(1,10,2)
print(result)
print(type(result))

[1, 3, 5, 7, 9]
<class 'list'>

리턴 값이 여러 개인 함수 <br>
리턴 값이 여러 개여도 결과는 튜플 한 개로 출력

In [34]:
def add_sub(a,b) :
    add = a + b
    sub = a - b
    return add, sub

In [37]:
result = add_sub(7,3)
print(result)
print(type(result))

(10, 4)
<class 'tuple'>

num_maker2 - 정방향, 역방향 리스트 출력

In [38]:
def num_maker2(a,b,c) :
    asc = [i for i in range(a,b,c)]
    desc = [i for i in range(a,b,c)][::-1]
    return asc, desc

In [39]:
result = num_maker2(1,10,2)
print(result)
print(type(result))

([1, 3, 5, 7, 9], [9, 7, 5, 3, 1])
<class 'tuple'>

## 중간에 함수를 종료시키기 위한 용도의 return
* 반복문에서 break로 반복을 중지시키는 것처럼 함수에서 return이 실행되면 함수는 종료

In [49]:
age = list(range(1,11))
age

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [44]:
# 1부터 10까지 숫자 중 짝수만 출력하다 7이상이 되면 종료

def even(a) :
    for i in a :
        if i % 2 == 0 :
            print(i, end = " ")
        elif i >= 7 :
            break

In [45]:
even(age)

2 4 6

In [50]:
# 1부터 10까지 숫자 중 짝수만 출력하다 7이상이 되면 종료

def even2(a) :
    for i in a :
        if i % 2 == 0 :
            print(i, end = " ")
        elif i >= 7 :
            return

In [51]:
even2(age)

2 4 6

1에서 100까지 홀수만 출력하다 51번째에 종료하는 odd 함수를 만드시오

In [63]:
def odd(n) : 
    for i in n :
        if i % 2 == 1 :
            print(i, end = " ")
        if i == 51 :
            return
num = range(1,101)
odd(num)

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51

In [64]:
num = range(1,101)
odd(num)

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51

## 함수에서 위치 인수와 키워드 인수 사용하기
* 위치인수(positional argument) 매개변수
* 함수에 인수를 순서대로 넣는 방식
* 인수의 위치가 정해져 있음

In [65]:
def print_nums(a,b,c) : 
    print(a,b,c)

In [67]:
print_nums(10,20)

TypeError: print_nums() missing 1 required positional argument: 'c'

In [68]:
print_nums(10,20,1)

10 20 1

리스트, 튜플과 같은 자료형을 1개의 위치인수(매개변수)로 받을 때 위치 인수와 개수가 같으면 *로 언패킹 가능

In [71]:
p = [10,20,30]
print_nums(*p)

10 20 30

가변인수
* 여러 개의 자료를 한 번에 입력 받음
* \*args => *변수명 꼭 args가 아니어도 됨

여러 개의 숫자를 입력받아 더하는 함수(입력 개수 정해져 있지 않음)

In [78]:
def sum2(*args) :
    hap = 0
    print(args)
    print(type(args))
    for i in args :
        hap += i
    return hap

In [73]:
sum2(1,46,357,68,685)

1157

In [79]:
L1 = [6441,163,136,713,161,615]
L2 = [4,14,14,14,18]
sum2(L1,L2)

([6441, 163, 136, 713, 161, 615], [4, 14, 14, 14, 18])
<class 'tuple'>

TypeError: unsupported operand type(s) for +=: 'int' and 'list'

In [75]:
sum2(1)

1

In [80]:
sum(L1,L2)

TypeError: can only concatenate list (not "int") to list

In [84]:
L1 = [6441,163,136,713,161,615]
L2 = [4,14,14,14,18]
print(sum2(*L1,*L2))
print(sum2(*L1))

(6441, 163, 136, 713, 161, 615, 4, 14, 14, 14, 18)
<class 'tuple'>
8293
(6441, 163, 136, 713, 161, 615)
<class 'tuple'>
8229

In [85]:
def list_tuple_func(*args) :
    print(args)
    print(type(args))

In [86]:
list_tuple_func(1,2,3,4,5)

(1, 2, 3, 4, 5)
<class 'tuple'>

In [87]:
list_tuple_func(1.5,6.2,73.1,6.1)

(1.5, 6.2, 73.1, 6.1)
<class 'tuple'>

In [88]:
list_tuple_func("실수", "정수", "자연수")

('실수', '정수', '자연수')
<class 'tuple'>

In [89]:
list_tuple_func([1,2,3], [4,5,6],[7,8,9])

([1, 2, 3], [4, 5, 6], [7, 8, 9])
<class 'tuple'>

고정인수와 가변인수를 함께 사용하기
* 고정인수와 가변인수를 함께 사용할 때는 반드시
* 고전인수, 가변인수 순으로 사용.
* 가변인수를 항상 맨 마지막에

정수와 리스트를 입력받아 리스트 요소에 입력받은 정수를 곱한 값의 리스트를 반환하는 함수

In [92]:
def muls(a, *args) :
    result = []
    for num in args :
        print(a*num, end = " ")
        result.append(a*num)
    return result

In [95]:
muls(3,*[1,2,3,4,5])

3 6 9 12 15

[3, 6, 9, 12, 15]

개인 정보를 출력하는 함수

In [2]:
def personal_info(name,age,address) :
    print('이름:' , name)
    print('나이:' , age)
    print('주소:' , address)

In [3]:
personal_info('홍길동', '30', '서울시 강남구')

이름: 홍길동
나이: 30
주소: 서울시 강남구

* 위의 함수는 인수의 순서를 모두 기억해야 하기 때문에 사용하기 어려움
* 인수의 순서와 용도를 매번 기억하지 않도록 하기 위해서 키워드 인수(keyword argument)를 사용
* 예) print("python", sep = " ", end = "\n")에서 sep과 end가 키워드 인수

personal_info 함수를 키워드 인수 방식으로 호출

In [4]:
personal_info(name='홍길동', age = 30, address = '서울시 강남구')

이름: 홍길동
나이: 30
주소: 서울시 강남구

키워드 인수 방식으로 함수를 호출하면 인수 순서나 위치가 바뀌어도 동작한다는 장점이 있음

In [6]:
p_info = dict(name='홍길동', age = 30, address = '서울시 강남구')
p_info

{'name': '홍길동', 'age': 30, 'address': '서울시 강남구'}

In [13]:
# 딕셔너리도 *을 활용해 언패킹이 가능. 단, *을 2개 줘야 함. *을 1개만 했을 때 key 값을 value로 인식함.
personal_info(*p_info)

이름: name
나이: age
주소: address
None

In [14]:
# 딕셔너리도 *을 활용해 언패킹이 가능. 단, *을 2개 줘야 함. *을 1개만 했을 때 key 값을 value로 인식함.
personal_info(**p_info)

이름: 홍길동
나이: 30
주소: 서울시 강남구

키워드 인수를 사용하는 가변인수 함수 만들기 <br>
kwargs = keyword arguments <br>
def 함수이름(**kwargs) :<br>
____코드<br>
____return 값<br>

결과 : <br>
딕셔너리 타입으로 print됨 <br>
그렇기 때문에 실행하는 코드는 딕셔너리에 사용하는 함수를 사용해야 함.

In [15]:
def personal_info2(**kwargs) :
    print(kwargs)
    print(type(kwargs))

In [18]:
personal_info2(**p_info)

{'name': '홍길동', 'age': 30, 'address': '서울시 강남구'}
<class 'dict'>

In [19]:
personal_info2(name='홍길동')

{'name': '홍길동'}
<class 'dict'>

In [20]:
personal_info2(name='홍길동', age = 30, address = '서울시 강남구', school = "강남고")

{'name': '홍길동', 'age': 30, 'address': '서울시 강남구', 'school': '강남고'}
<class 'dict'>

In [21]:
d = dict(name='홍길동', age = 30, address = '서울시 강남구', school = "강남고")
d

{'name': '홍길동', 'age': 30, 'address': '서울시 강남구', 'school': '강남고'}

In [24]:
personal_info2(**d)

{'name': '홍길동', 'age': 30, 'address': '서울시 강남구', 'school': '강남고'}
<class 'dict'>

In [30]:
def personal_info3(**kwargs) :
    print(kwargs)
    print(type(kwargs))
    for key, value in kwargs.items() :
        print(key, value)

In [31]:
personal_info3(**d)

{'name': '홍길동', 'age': 30, 'address': '서울시 강남구', 'school': '강남고'}
<class 'dict'>
name 홍길동
age 30
address 서울시 강남구
school 강남고

고정인수와 키워드 가변인수 함께 사용하기
* 고정인수, **키워드 인수 순으로 와야 함

In [32]:
def personal_info4(name, **kwargs) :
    print(name)
    print('타입은',type(name))
    print(kwargs)

In [35]:
personal_info4('홍길동')

홍길동
타입은 <class 'str'>
{}

In [39]:
personal_info4('홍길동',age = 30, address='서울시 강남구')

홍길동
타입은 <class 'str'>
{'age': 30, 'address': '서울시 강남구'}

In [40]:
personal_info4(age = 30, address='서울시 강남구')

TypeError: personal_info4() missing 1 required positional argument: 'name'

In [34]:
personal_info4('이이이',**d)

TypeError: personal_info4() got multiple values for argument 'name'

In [42]:
# 고정인수도 키워드인수처럼 언급을 하면 출력가능
personal_info4(name = '홍길동',age = 30, address='서울시 강남구')

홍길동
타입은 <class 'str'>
{'age': 30, 'address': '서울시 강남구'}

가변인수와 가변키워드인수 함께 사용하기
* def 함수명(*args, **kwargs):  <br> ->형태로 사용 <br>
* def 함수명(고정인자, *args, **kwargs):

In [43]:
def custom_print(*args, **kwargs) :
    print('*args : ',*args, "**kwargs : ", **kwargs)
custom_print(1,2,3, sep=" !! ", end= "")

*args :  !! 1 !! 2 !! 3 !! **kwargs :

매개변수 = 함수 내에서 사용되는 변수
* 위치인수 : 위치가 고정된 매개변수. 키워드 인수로 사용가능(=> 변수명 = 값 형태로 지정하는 것)
* 가변인수 : 여러 개의 자료를 동시에 받을 수 있는 매개변수 => 튜플 형태로 들어옴
* 키워드 가변인수 : 여러 개의 자료를 동시에 받을 수 있는데 key=value 형태로 받는 매개변수 => 딕셔너리 형태로 들어옴

매개변수에 초기값 지정하기
* 초기값이 지정된 매개변수는 반드시 가장 마지막에 와야 함
* 매개변수의 종류에 따른 순서
    * 위치인수, 위치인수=기본값, *args, **kwargs

In [49]:
def personal_info5(name, age, address="비공개") :
    print('이름 :', name)
    print('나이 :', age)
    print('주소 :', address)

In [50]:
personal_info5('홍길동', 30)

이름 : 홍길동
나이 : 30
주소 : 비공개

In [51]:
personal_info5('홍길동', 30, '서울시 강남구')

이름 : 홍길동
나이 : 30
주소 : 서울시 강남구

In [53]:
def personal_info6(*args, address='비공개', **kwargs) :
    print('args : ', args)
    print('kwargs : ', kwargs)
    print('주소 : ', address)

In [58]:
personal_info6('홍길동',1,2,5,"홍길동",name = "sdsd")

args :  ('홍길동', 1, 2, 5, '홍길동')
kwargs :  {'name': 'sdsd'}
주소 :  비공개

함수 Doc 스트링 사용하기
* 함수의 기능을 설명하거나 사용법을 함수 내에 적어 놓는 것<br>
def 함수이름(매개변수) :<br>
____""" 독스트링으로 설명 적기 """ <br>
____실행코드 <br>
____return 값

* doc 스트링은 함수 실행시엔 출력되지 않음
* 출력을 원한다면
* print(함수이름.\_\_doc\_\_)
* help(함수이름)

In [59]:
def add(a,b) :
    """
    이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다.
    """
    return a+b

In [63]:
help(add)

Help on function add in module __main__:

add(a, b)
    이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다.

In [65]:
print(add.__doc__)

    이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다.

## 람다 표현식(lambda expression)
* 간단한 함수를 작성하거나 다른 함수의 인수로 함수를 넣을 때 사용
* 익명함수(함수명이 없음)
* 임시로 사용하는 것이라 메모리에 남지 않음

In [66]:
# 자료 1개를 입력받아 10을 더해 리턴하는 함수
def plus_ten(x) :
    return x + 10

In [67]:
plus_ten(5)

15

람다 함수에 괄호를 씌우고 뒤에 인수를 넣어서 직접 호출하는 방식

In [69]:
# 람다 표현식으로 만드는 함수
(lambda x : x + 10)(5)

15

람다 함수를 변수에 넣고 변수에 인수를 넣어서 호출

In [71]:
plus_five = lambda x : x + 5

In [72]:
plus_five(5)

10

map함수 : 리스트에 있는 자료 하나하나를 꺼내서 함수에 넣는 함수
<br>
map(함수, 리스트 자료)

In [79]:
a,b,c,d = map(int,["1","2","3","4"])
print(a,b,c,d)

1 2 3 4

In [82]:
result = map(plus_five,[1,5,7,11,1])
print(list(result))

[6, 10, 12, 16, 6]

람다 표현식에 조건부 표현식 사용하기

In [83]:
# 3의 배수만 문자열로 바꾸는 함수
a = list(range(1,11))
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [92]:
def mul_3(x) :
    mul3 = []
    for i in a :
        if i % 3 == 0 :
            mul3.append(str(i))
        else:
            mul3.append(i)
    return mul3
print(mul_3(a))

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [94]:
def mul_3(x) :
    mul3 = []
    for i in a :
        mul3.append(str(i)) if i % 3 == 0 else mul3.append(i)
    return mul3
print(mul_3(a))

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [98]:
def mul_3(x) :
    mul3 = [str(i) if i % 3 == 0 else i for i in a]    
    return mul3
print(mul_3(a))

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [ ]:
def mul_3(x) :
    return [str(i) if i % 3 == 0 else i for i in a]
print(mul_3(a))

In [101]:
# 조건문 부분을 조건표현식으로 변환
list(map(lambda x : str(x) if x % 3 == 0 else x, a))

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [102]:
a = [1,2,3,4,5]
b = [2,4,6,8,10]
c = [3,6,9,12,15]

In [103]:
list(map(lambda x,y,z : x*y*z, a,b,c))

[6, 48, 162, 384, 750]