# 함수 만들기

* 함수의 괄호 안에 값을 넣으면 출력을 해주거나 입력을 받거나 변환을 해 줌
* 도구의 개념
* 자주 사용하는 기능을 미리 만들어서 반복 재사용할 수 있게 만드는 것

### 함수 만드는 법
def 함수이름() : <br>
____실행할 코드 <br>
____return 반환값

In [1]:
def hello() :
    print('hello 파이썬 함수 만들기')
    
hello()

hello 파이썬 함수 만들기

## 함수 호출 순서
* 함수는 호출하기 전에 반드시 먼저 정의되어 있어야 하고(만들어 놔야 함)
* 함수 정의가 실행보다 위에 있어야 합니다.

## 함수의 매개변수
* 함수의 괄호 안에 받는 값
* 괄호 안에 값을 받아서 함수 내에서 처리할 때 사용

매개변수 1개짜리 함수

In [2]:
# 원의 넓이를 구하는 함수
def circle(c) :
    print("원의 넓이는 : ", c * c * 3.14)
    return c * c * 3.14

In [3]:
circle(3)

원의 넓이는 :  28.26

28.26

매개변수 2개짜리 함수 - 덧셈 함수 만들기

In [4]:
def add(a, b) : 
    return a + b

In [5]:
add(10,3)

13

매개변수 3개짜리 함수 - 첫 번째 변수 = 시작, 두 번째 변수 = 끝, 세 번째 변수 = 증감 <br>
interval이라는 이름의 함수를 만들어라 <br>

In [32]:
def interval(a,b,c) :
    L = []
    i = a
    L.append(i)
    while i <= b :
        if i+c > b :
            break
        else:
            i += c
            L.append(i)
    return L

In [33]:
interval(1,10,2)

[1, 3, 5, 7, 9]

In [13]:
def num_maker(a,b,c) :
    result = [i for i in range(a,b,c)]
    return result

In [36]:
result = num_maker(1,10,2)
print(result)
print(type(result))

[1, 3, 5, 7, 9]
<class 'list'>

리턴 값이 여러 개인 함수 <br>
리턴 값이 여러 개여도 결과는 튜플 한 개로 출력

In [34]:
def add_sub(a,b) :
    add = a + b
    sub = a - b
    return add, sub

In [37]:
result = add_sub(7,3)
print(result)
print(type(result))

(10, 4)
<class 'tuple'>

num_maker2 - 정방향, 역방향 리스트 출력

In [38]:
def num_maker2(a,b,c) :
    asc = [i for i in range(a,b,c)]
    desc = [i for i in range(a,b,c)][::-1]
    return asc, desc

In [39]:
result = num_maker2(1,10,2)
print(result)
print(type(result))

([1, 3, 5, 7, 9], [9, 7, 5, 3, 1])
<class 'tuple'>

## 중간에 함수를 종료시키기 위한 용도의 return
* 반복문에서 break로 반복을 중지시키는 것처럼 함수에서 return이 실행되면 함수는 종료

In [49]:
age = list(range(1,11))
age

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [44]:
# 1부터 10까지 숫자 중 짝수만 출력하다 7이상이 되면 종료

def even(a) :
    for i in a :
        if i % 2 == 0 :
            print(i, end = " ")
        elif i >= 7 :
            break

In [45]:
even(age)

2 4 6

In [50]:
# 1부터 10까지 숫자 중 짝수만 출력하다 7이상이 되면 종료

def even2(a) :
    for i in a :
        if i % 2 == 0 :
            print(i, end = " ")
        elif i >= 7 :
            return

In [51]:
even2(age)

2 4 6

1에서 100까지 홀수만 출력하다 51번째에 종료하는 odd 함수를 만드시오

In [63]:
def odd(n) : 
    for i in n :
        if i % 2 == 1 :
            print(i, end = " ")
        if i == 51 :
            return
num = range(1,101)
odd(num)

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51

In [64]:
num = range(1,101)
odd(num)

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51

## 함수에서 위치 인수와 키워드 인수 사용하기
* 위치인수(positional argument) 매개변수
* 함수에 인수를 순서대로 넣는 방식
* 인수의 위치가 정해져 있음

In [65]:
def print_nums(a,b,c) : 
    print(a,b,c)

In [67]:
print_nums(10,20)

TypeError: print_nums() missing 1 required positional argument: 'c'

In [68]:
print_nums(10,20,1)

10 20 1

리스트, 튜플과 같은 자료형을 1개의 위치인수(매개변수)로 받을 때 위치 인수와 개수가 같으면 *로 언패킹 가능

In [71]:
p = [10,20,30]
print_nums(*p)

10 20 30

가변인수
* 여러 개의 자료를 한 번에 입력 받음
* \*args => *변수명 꼭 args가 아니어도 됨

여러 개의 숫자를 입력받아 더하는 함수(입력 개수 정해져 있지 않음)

In [78]:
def sum2(*args) :
    hap = 0
    print(args)
    print(type(args))
    for i in args :
        hap += i
    return hap

In [73]:
sum2(1,46,357,68,685)

1157

In [79]:
L1 = [6441,163,136,713,161,615]
L2 = [4,14,14,14,18]
sum2(L1,L2)

([6441, 163, 136, 713, 161, 615], [4, 14, 14, 14, 18])
<class 'tuple'>

TypeError: unsupported operand type(s) for +=: 'int' and 'list'

In [75]:
sum2(1)

1

In [80]:
sum(L1,L2)

TypeError: can only concatenate list (not "int") to list

In [84]:
L1 = [6441,163,136,713,161,615]
L2 = [4,14,14,14,18]
print(sum2(*L1,*L2))
print(sum2(*L1))

(6441, 163, 136, 713, 161, 615, 4, 14, 14, 14, 18)
<class 'tuple'>
8293
(6441, 163, 136, 713, 161, 615)
<class 'tuple'>
8229

In [85]:
def list_tuple_func(*args) :
    print(args)
    print(type(args))

In [86]:
list_tuple_func(1,2,3,4,5)

(1, 2, 3, 4, 5)
<class 'tuple'>

In [87]:
list_tuple_func(1.5,6.2,73.1,6.1)

(1.5, 6.2, 73.1, 6.1)
<class 'tuple'>

In [88]:
list_tuple_func("실수", "정수", "자연수")

('실수', '정수', '자연수')
<class 'tuple'>

In [89]:
list_tuple_func([1,2,3], [4,5,6],[7,8,9])

([1, 2, 3], [4, 5, 6], [7, 8, 9])
<class 'tuple'>

고정인수와 가변인수를 함께 사용하기
* 고정인수와 가변인수를 함께 사용할 때는 반드시
* 고전인수, 가변인수 순으로 사용.
* 가변인수를 항상 맨 마지막에

정수와 리스트를 입력받아 리스트 요소에 입력받은 정수를 곱한 값의 리스트를 반환하는 함수

In [92]:
def muls(a, *args) :
    result = []
    for num in args :
        print(a*num, end = " ")
        result.append(a*num)
    return result

In [95]:
muls(3,*[1,2,3,4,5])

3 6 9 12 15

[3, 6, 9, 12, 15]