# 파이썬은 변수에 담는 자료에 따라서 동적으로 자료형이 정해짐

## 정수형 변수(int, integer)

In [1]:
x = 10

## 실수형 변수(float)

In [2]:
y = 10.4

## 문자형 변수(str)

In [7]:
## 문자는 작은따옴표, 큰따옴표 둘 다 가능
s = '문'
s2 = "문자열"
s3 = "문자열 '문자'"
s4 = '문자 "문자열"'
print(s, s2, s3, s4, sep = " / ")

문 / 문자열 / 문자열 '문자' / 문자 "문자열"

## 문단을 통채로 넣는 법

''' ''' 또는 """ """으로 활용

In [11]:
s5 = ''' 문자형 변수에는 단어 뿐만 아니라
문장도 넣을 수 있다.
줄 바꿈도 물론 가능'''

print(s5)

 문자형 변수에는 단어 뿐만 아니라
문장도 넣을 수 있다.
줄 바꿈도 물론 가능

In [12]:
s6 = " 문자형 변수에는 단어 뿐만 아니라 \
문장도 넣을 수 있다. \
줄 바꿈도 물론 가능"

print(s6)

 문자형 변수에는 단어 뿐만 아니라 문장도 넣을 수 있다. 줄 바꿈도 물론 가능

In [13]:
s7 = """ 문자형 변수에는 단어 뿐만 아니라
문장도 넣을 수 있다.
줄 바꿈도 물론 가능"""

print(s7)

 문자형 변수에는 단어 뿐만 아니라
문장도 넣을 수 있다.
줄 바꿈도 물론 가능

In [14]:
s7

' 문자형 변수에는 단어 뿐만 아니라\n문장도 넣을 수 있다.\n줄 바꿈도 물론 가능'

## 변수의 데이터 타입을 출력하는 함수 type()

In [16]:
print(x)
print(type(x))

10
<class 'int'>

## 리스트(list), 튜플(tuple)
* 순서가 있음.
* 인덱싱, 슬라이싱 가능
* 여러 개의 자료를 넣을 수 있다.
* 여러 개의 데이터 타입의 자료를 넣을 수 있다.
* 리스트는 대괄호[] 사용
* 튜플은 소괄호() 사용

In [18]:
L = [1,3.14, "파이썬", [1,2,3,4], (5,6,7,8)]
print(L)

[1, 3.14, '파이썬', [1, 2, 3, 4], (5, 6, 7, 8)]

In [22]:
L[3][2]

3

## 인덱싱 : 리스트, 튜플에서 인덱스 번호를 이용해서 자료를 출력
* 인덱스는 자료의 순번

In [23]:
# index()를 사용해서 특정 값의 인덱스 번호가 몇인지 알 수 있음
L.index("파이썬")

2

## 슬라이싱 : 인덱스의 범위 지정해서 여러 개의 자료를 가져오는 것
* 변수명[시작 인덱스 : 끝 인덱스+1]
= 시작 인덱스부터 끝 인덱스까지 가져와라

In [24]:
L[0:2]

[1, 3.14]

In [27]:
# 뒤에서부터 가져오는 방법은
L[::-1]

[(5, 6, 7, 8), [1, 2, 3, 4], '파이썬', 3.14, 1]

## 튜플
* 리스트처럼 순서가 있어 인덱스 활용 가능, 슬라이싱 가능
* 자료의 추가 및 삭제가 안됨.

In [28]:
t = (1,2,"튜플")

In [29]:
t[2]

'튜플'

In [30]:
t.append(10)

AttributeError: 'tuple' object has no attribute 'append'

## 딕셔너리(dict)
* {key:value} 형태의 자료형
* 순서가 없어 인덱싱, 슬라이싱 안됨
* 반복 불가 = 반복문에서 활용 불가
* key를 호출하면 value가 출력
* key에 리스트를 제외하고 다른 자료형 사용 가능

In [32]:
d = {'년월' : '202407', '국가' : '미국', '방문자수' : 1000}
d

{'년월': '202407', '국가': '미국', '방문자수': 1000}

In [34]:
d2 = {2: [3,4,5], 3.14 : "원주율"}
d2[2]

[3, 4, 5]

In [37]:
d3 = {(1,2):'튜플'}
d3

{(1, 2): '튜플'}