# 문자열 사용하기, 문자열 함수
### 1. 문자열 사용하기의 기본

(큰, 작은) 따옴표 안에 문자를 넣어서 문자열을 만듦.

In [2]:
hello = "hello 'world'"
print(hello)

hello 'world'

여러 줄로 된 문자열 사용하기 <br>
''' ''' 혹은 """ """ 사용

In [4]:
hello = '''
안녕하세요
python 수업인데요
문 좀 열어주세요
'''
print(hello)

안녕하세요
python 수업인데요
문 좀 열어주세요

In [5]:
hello2 = """
안녕하세요
파이썬 인데요
python 집에 있나요?
"""
print(hello2)

안녕하세요
파이썬 인데요
python 집에 있나요?

* escape(탈출) 문자 사용 <br>
\n -> 줄바꿈<br>
\t -> 탭. 4칸 공백<br>
\r -> 현재 줄의 제일 왼쪽 끝으로 커서 이동

In [7]:
h1 = "파이썬에서 줄바꿈은 \\n으로 합니다. \n\n\n 3줄 줄바꿈 끝"
print(h1)

파이썬에서 줄바꿈은 \n으로 합니다.


 3줄 줄바꿈 끝

In [8]:
h2 = "탭으로 공간을 띄우는 것은 \\t로 \t합니다."
print(h2)

탭으로 공간을 띄우는 것은 \t로 	합니다.

In [9]:
h3 = "캐리지 리턴은 \\r입니다. \n커서가 같은 줄 가장 앞으로 이동하기 때문에 \r글자가 겹쳐져서 지워졌습니다."
print(h3)

캐리지 리턴은 \r입니다.
글자가 겹쳐져서 지워졌습니다.

## 인덱스와 문자열
* 문자 : 글자가 1개 <br>
* 문자열 : 글자가 여러 개. 순서가 있는 자료. 번호와 인덱스 가능

In [10]:
h4 = "문자열은 왼쪽부터 번호를 매길 수 있으며 시작은 0번부터 입니다."
print(h4)

문자열은 왼쪽부터 번호를 매길 수 있으며 시작은 0번부터 입니다.

In [11]:
h4[0:5]

'문자열은 '

In [12]:
h4[-5:]

' 입니다.'

In [13]:
# 1부터 10까지 2칸씩 띄워서 가져와
h4[1:11:2]

'자은왼부 '

## 문자열 함수
* .replace(찾을 값, 바꿀 값) : 문자열 바꾸기. 원본은 바꾸지 않음. 바꾸기 위해선 재할당을 해야 함.
* .split() : 문자열 분리하기. 공백을 기준으로 문자열을 분리해 리스트로 만듦. 원본을 바꾸진 않음. 괄호 안엔 분리 기준을 넣는다
* .join() : 문자열 합치기 -> 합칠 때 넣을 값.join(합칠 값). 원본을 바꾸진 않음.
* .strip() : 왼쪽, 오른쪽, 양쪽 공백 혹은 특정 문자 삭제하기. 원본을 바꾸진 않음.
* .lstrip() : 왼쪽
* .rstrip() : 오른쪽
* .strip() : 양쪽

In [14]:
h5 = "hello, python"
h5

'hello, python'

In [17]:
print(h5.replace('python', 'world'))
print(h5)

hello, world
hello, python

* str.maketrans('찾을 문자', '바꿀 문자', '추가로 없앨 문자')로 변환테이블 생성
* translate으로 문자를 찾아서 바꿈. 원본은 바꾸지 않음.

In [19]:
h5 = h5.replace('python', 'world')

In [20]:
table = str.maketrans('abcdefg', '1234567')

In [21]:
h5.translate(table)

'h5llo, worl4'

In [25]:
# a를 1로, b를 2로, c를 3으로 ... 그리고 l과 o와 r을 없애라
table = str.maketrans('abcdefg', '1234567', 'lor')

In [26]:
h5.translate(table)

'h5, w4'

In [24]:
h5

'hello, world'

In [27]:
h4.split()

['문자열은', '왼쪽부터', '번호를', '매길', '수', '있으며', '시작은', '0번부터', '입니다.']

In [28]:
h6 = "'문자열은', '왼쪽부터', '번호를', '매길', '수', '있으며', '시작은', '0번부터', '입니다.'"

In [32]:
h6.split(', ')[2]

"'번호를'"

In [33]:
h7 = "사과, 배, 포도, 파인애플, 망고, 오렌지"

In [35]:
h7_1 = h7.split(', ')
print(h7_1)

['사과', '배', '포도', '파인애플', '망고', '오렌지']

In [36]:
h9 = ['iron man', 'sprider-man', 'black widow', 'hulk']

In [42]:
h9_1 = ' vs '.join(h9)
h9_1

'iron man vs sprider-man vs black widow vs hulk'

In [41]:
print(h9_1.upper())
print(h9_1.lower())

IRON MAN VS SPRIDER-MAN VS BLACK WIDOW VS HULK
iron man vs sprider-man vs black widow vs hulk

In [43]:
h11 = "    공백이 있는 문자열    "
h11

'    공백이 있는 문자열    '

In [44]:
print(h11.lstrip())
print(h11.rstrip())
print(h11.strip())

공백이 있는 문자열
    공백이 있는 문자열
공백이 있는 문자열

In [46]:
h12 = "  ...  , 공백과 특수문자가 같이 있는 문자열 !! ^^ ....  "
h12

'  ...  , 공백과 특수문자가 같이 있는 문자열 !! ^^ ....  '

In [48]:
print(h12.lstrip())
print(h12.rstrip())
print(h12.strip())

...  , 공백과 특수문자가 같이 있는 문자열 !! ^^ ....
  ...  , 공백과 특수문자가 같이 있는 문자열 !! ^^ ....
...  , 공백과 특수문자가 같이 있는 문자열 !! ^^ ....

In [55]:
print(h12.lstrip("., "))
print(h12.rstrip('.!^ '))
print(h12.strip("., !^"))

공백과 특수문자가 같이 있는 문자열 !! ^^ ....
  ...  , 공백과 특수문자가 같이 있는 문자열
공백과 특수문자가 같이 있는 문자열

In [58]:
h13 = "  ...  , 공백과 특수 문자가\n ^^ 같이 있는 \t문자열 !! ^^ ....  "
print(h13)

  ...  , 공백과 특수 문자가
 ^^ 같이 있는 	문자열 !! ^^ ....

In [68]:
# 문자열 내에 있는 건 처리하지 못함
print(h13.strip('., \n!^'))

공백과 특수 문자가
 ^^ 같이 있는 	문자열

메소드 체이닝으로 여러 함수 동시에 사용하기

In [71]:
h13.strip('., !^').replace("^", "").replace("\n",'').replace("\t",'').replace("  ", " ")

'공백과 특수 문자가 같이 있는 문자열'

In [75]:
h13.translate(str.maketrans('','',".,!^\n\t")).strip().replace('  ',' ')

'공백과 특수 문자가 같이 있는 문자열'

* string.punctuation을 이용해 특수문자 제거하기

In [77]:
import string
dir(string)

['Formatter',
 'Template',
 '_ChainMap',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_re',
 '_sentinel_dict',
 '_string',
 'ascii_letters',
 'ascii_lowercase',
 'ascii_uppercase',
 'capwords',
 'digits',
 'hexdigits',
 'octdigits',
 'printable',
 'punctuation',
 'whitespace']

In [78]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [80]:
h13.translate(str.maketrans('','',string.punctuation)).strip().replace('  ',' ').replace("\n",'').replace("\t","")

'공백과 특수 문자가 같이 있는 문자열'

In [82]:
test1 = '''344,622642,더 호텔 수 (THE HOTEL SOO),family,1박 가족 여행,2018년 5월 21일,8.0,"위치 : 이순신 광장과는 반대편이라 차량으로 이동해야 합니다. 루프탑에서의
바다 경치는 좋습니다.
시설 : 깔끔하고 좋습니다. 패밀리룸을 사용 했는데 저녁6시쯤 갔더니 마지막 방이라며 2층을 배정 받았습니다. 창문을 여니 약간 쓰레기 냄새가 났고 바다가 보이지 않습니다.        
루프탑 : 바베큐 세트가 저렴 했던거 같고 경치가 좋습니다. 수영장도 있었는데 계절이 아닌지.... 
    하지만 여름이면 좋을것 같습니다. 주차장은 장소가 넓지 않았던거 같고, 저녁에 나갔다 왔더니 야외 공터에 차를 대라고 하였습니다.    
주말 저녁이라 그런지 가격을 제법 비싸게 준거 같은데... 2층이라 마음에 들지 않았습니다. 옆에 조선소 같은게 있어 쫌 보기에 좋지 않았습니다......................................'''

In [84]:
test_split = test1.split(',')
print(test_split)

['344', '622642', '더 호텔 수 (THE HOTEL SOO)', 'family', '1박 가족 여행', '2018년 5월 21일', '8.0', '"위치 : 이순신 광장과는 반대편이라 차량으로 이동해야 합니다. 루프탑에서의\n바다 경치는 좋습니다.\n시설 : 깔끔하고 좋습니다. 패밀리룸을 사용 했는데 저녁6시쯤 갔더니 마지막 방이라며 2층을 배정 받았습니다. 창문을 여니 약간 쓰레기 냄새가 났고 바다가 보이지 않습니다.        \n루프탑 : 바베큐 세트가 저렴 했던거 같고 경치가 좋습니다. 수영장도 있었는데 계절이 아닌지.... \n    하지만 여름이면 좋을것 같습니다. 주차장은 장소가 넓지 않았던거 같고', ' 저녁에 나갔다 왔더니 야외 공터에 차를 대라고 하였습니다.    \n주말 저녁이라 그런지 가격을 제법 비싸게 준거 같은데... 2층이라 마음에 들지 않았습니다. 옆에 조선소 같은게 있어 쫌 보기에 좋지 않았습니다......................................']

In [108]:
hid_1 = ','.join(test_split[0:2])
print(hid_1)
hotel_name = test_split[2]
print(hotel_name)
hotel_name = hotel_name.split(' (')
print(hotel_name)
hotel_name_kor_1 = hotel_name[0]
print(hotel_name_kor_1)
hotel_name_eng_1 = hotel_name[1].replace(')','')
print(hotel_name_eng_1)
trip_type_1 = test_split[3]
print(trip_type_1)
trip_type_2 = test_split[4]
print(trip_type_2)
trip_date = test_split[5]
print(trip_date)
rating = test_split[6]
print(rating)
review = ''.join(test_split[7:]).replace("\n", '').strip('.')
print(review)

344,622642
더 호텔 수 (THE HOTEL SOO)
['더 호텔 수', 'THE HOTEL SOO)']
더 호텔 수
THE HOTEL SOO
family
1박 가족 여행
2018년 5월 21일
8.0
"위치 : 이순신 광장과는 반대편이라 차량으로 이동해야 합니다. 루프탑에서의바다 경치는 좋습니다.시설 : 깔끔하고 좋습니다. 패밀리룸을 사용 했는데 저녁6시쯤 갔더니 마지막 방이라며 2층을 배정 받았습니다. 창문을 여니 약간 쓰레기 냄새가 났고 바다가 보이지 않습니다.        루프탑 : 바베큐 세트가 저렴 했던거 같고 경치가 좋습니다. 수영장도 있었는데 계절이 아닌지....     하지만 여름이면 좋을것 같습니다. 주차장은 장소가 넓지 않았던거 같고 저녁에 나갔다 왔더니 야외 공터에 차를 대라고 하였습니다.    주말 저녁이라 그런지 가격을 제법 비싸게 준거 같은데... 2층이라 마음에 들지 않았습니다. 옆에 조선소 같은게 있어 쫌 보기에 좋지 않았습니다

In [109]:
test2= "18062,427535,파크 하얏트 부산 (Park Hyatt Busan),family,2박 가족 여행,2019년 12월 29일,10.0,결혼 1주년 기념으로 아이랑 신랑이랑 다녀왔어요~ 룸컨디션 너무 좋았고 뷰가 최고였습니다! 2박 머물렀는데 청소도 깔끔하게 해주시고 애기가 이불에 살짝 토했는데도 바로 갈아주시고 좋았습니다~ 대신 창가쪽 커튼 한쪽이 떨어져있어서 조금 거슬렸구요... 창가에 침실이 있다보니 암막커튼을 치지 않으면 조금 쌀쌀한 느낌은 있었어요! 아 그리고 아기때문에 침대에 가드를 부탁드렸는데 가드가 너무 별로였습니다... 가드 구실을 못하고 넘 허술하게 매트리스 아래 그냥 끼워진거라 아기가 밤새 두번이나 가드사이에 빠졌습니다... 이점 좀 아쉬워요 ! 그 외에는 다이닝룸 리빙룸, 바까지 모두 이용했는데 서비스 좋았습니다~~!"

In [110]:
test2_split = test2.split(',')
print(test2_split)

['18062', '427535', '파크 하얏트 부산 (Park Hyatt Busan)', 'family', '2박 가족 여행', '2019년 12월 29일', '10.0', '결혼 1주년 기념으로 아이랑 신랑이랑 다녀왔어요~ 룸컨디션 너무 좋았고 뷰가 최고였습니다! 2박 머물렀는데 청소도 깔끔하게 해주시고 애기가 이불에 살짝 토했는데도 바로 갈아주시고 좋았습니다~ 대신 창가쪽 커튼 한쪽이 떨어져있어서 조금 거슬렸구요... 창가에 침실이 있다보니 암막커튼을 치지 않으면 조금 쌀쌀한 느낌은 있었어요! 아 그리고 아기때문에 침대에 가드를 부탁드렸는데 가드가 너무 별로였습니다... 가드 구실을 못하고 넘 허술하게 매트리스 아래 그냥 끼워진거라 아기가 밤새 두번이나 가드사이에 빠졌습니다... 이점 좀 아쉬워요 ! 그 외에는 다이닝룸 리빙룸', ' 바까지 모두 이용했는데 서비스 좋았습니다~~!']

In [112]:
hid_2 = ','.join(test2_split[0:2])
print(hid_2)
hotel_name_2 = test2_split[2]
print(hotel_name_2)
hotel_name_2 = hotel_name_2.split(' (')
print(hotel_name_2)
hotel_name_kor_2 = hotel_name_2[0]
print(hotel_name_kor_2)
hotel_name_eng_2 = hotel_name_2[1].replace(')','')
print(hotel_name_eng_2)
trip_type_1_2 = test2_split[3]
print(trip_type_1_2)
trip_type_2_2 = test2_split[4]
print(trip_type_2_2)
trip_date_2 = test2_split[5]
print(trip_date_2)
rating_2 = test2_split[6]
print(rating_2)
review_2 = ''.join(test2_split[7:]).translate(str.maketrans('','','!~'))
print(review_2)

18062,427535
파크 하얏트 부산 (Park Hyatt Busan)
['파크 하얏트 부산', 'Park Hyatt Busan)']
파크 하얏트 부산
Park Hyatt Busan
family
2박 가족 여행
2019년 12월 29일
10.0
결혼 1주년 기념으로 아이랑 신랑이랑 다녀왔어요 룸컨디션 너무 좋았고 뷰가 최고였습니다 2박 머물렀는데 청소도 깔끔하게 해주시고 애기가 이불에 살짝 토했는데도 바로 갈아주시고 좋았습니다 대신 창가쪽 커튼 한쪽이 떨어져있어서 조금 거슬렸구요... 창가에 침실이 있다보니 암막커튼을 치지 않으면 조금 쌀쌀한 느낌은 있었어요 아 그리고 아기때문에 침대에 가드를 부탁드렸는데 가드가 너무 별로였습니다... 가드 구실을 못하고 넘 허술하게 매트리스 아래 그냥 끼워진거라 아기가 밤새 두번이나 가드사이에 빠졌습니다... 이점 좀 아쉬워요  그 외에는 다이닝룸 리빙룸 바까지 모두 이용했는데 서비스 좋았습니다

In [113]:
test3 = """112731,239840,서귀포 칼 호텔 (Seogwipo KAL Hotel),family,3박 가족 여행,2020년 11월 19일,8.0,넓디넓은 정원과 산책로 덕분에 코로나 시대 언택트 여행에 좋았구요. 조용하고 한적하게 잘 쉬었어요.
아무래도 서귀포가 제주시쪽보단 사람도 적어서 오히려 편하면서, 주변에 식당이나 까페, 편의점 갈때도 걸어서도 다녀올 입지라 좋습니다.
실내 수영장은 생각만큼? 작은 규모라 오히려 사람 없이 잘 놀았어요ㅎㅎ 
라운지바가 넓고 층고도 높아서 커피나 맥주 먹으며 쉬기에 좋고요.
매일 주시는 1.5리터 생수ㅎㅎ별거 아닐수 있지만 매우 감사했구요.
다만 층수가 낮은 방이어서 그런가 모기가 있었어요^^;; 그외에는 다 깨끗했구요. 
매트리스가 오래됐는지 묘하게 불편해서 허리가 아프긴 하더라고요;; 다행히? 세미온돌이라 바닥에서 자는게 오히려 나았고요
조식은...최근 후기가 다 별로라길래 하루만 가봤는데 역시;;ㅎ 뭐 저렴하기도 하지만.. 저는 나가서 먹었습니다."""

In [114]:
test3_split = test3.split(',')
print(test3_split)

['112731', '239840', '서귀포 칼 호텔 (Seogwipo KAL Hotel)', 'family', '3박 가족 여행', '2020년 11월 19일', '8.0', '넓디넓은 정원과 산책로 덕분에 코로나 시대 언택트 여행에 좋았구요. 조용하고 한적하게 잘 쉬었어요.\n아무래도 서귀포가 제주시쪽보단 사람도 적어서 오히려 편하면서', ' 주변에 식당이나 까페', ' 편의점 갈때도 걸어서도 다녀올 입지라 좋습니다.\n실내 수영장은 생각만큼? 작은 규모라 오히려 사람 없이 잘 놀았어요ㅎㅎ \n라운지바가 넓고 층고도 높아서 커피나 맥주 먹으며 쉬기에 좋고요.\n매일 주시는 1.5리터 생수ㅎㅎ별거 아닐수 있지만 매우 감사했구요.\n다만 층수가 낮은 방이어서 그런가 모기가 있었어요^^;; 그외에는 다 깨끗했구요. \n매트리스가 오래됐는지 묘하게 불편해서 허리가 아프긴 하더라고요;; 다행히? 세미온돌이라 바닥에서 자는게 오히려 나았고요\n조식은...최근 후기가 다 별로라길래 하루만 가봤는데 역시;;ㅎ 뭐 저렴하기도 하지만.. 저는 나가서 먹었습니다.']

In [116]:
hid_3 = ','.join(test3_split[0:2])
print(hid_3)
hotel_name_3 = test3_split[2]
print(hotel_name_3)
hotel_name_3 = hotel_name_3.split(' (')
print(hotel_name_3)
hotel_name_kor_3 = hotel_name_3[0]
print(hotel_name_kor_3)
hotel_name_eng_3 = hotel_name_3[1].replace(')','')
print(hotel_name_eng_3)
trip_type_1_3 = test3_split[3]
print(trip_type_1_3)
trip_type_2_3 = test3_split[4]
print(trip_type_2_3)
trip_date_3 = test3_split[5]
print(trip_date_3)
rating_3 = test3_split[6]
print(rating_3)
review_3 = ' '.join(test3_split[7:]).translate(str.maketrans('','','!~\n^;?'))
print(review_3)

112731,239840
서귀포 칼 호텔 (Seogwipo KAL Hotel)
['서귀포 칼 호텔', 'Seogwipo KAL Hotel)']
서귀포 칼 호텔
Seogwipo KAL Hotel
family
3박 가족 여행
2020년 11월 19일
8.0
넓디넓은 정원과 산책로 덕분에 코로나 시대 언택트 여행에 좋았구요. 조용하고 한적하게 잘 쉬었어요.아무래도 서귀포가 제주시쪽보단 사람도 적어서 오히려 편하면서  주변에 식당이나 까페  편의점 갈때도 걸어서도 다녀올 입지라 좋습니다.실내 수영장은 생각만큼 작은 규모라 오히려 사람 없이 잘 놀았어요ㅎㅎ 라운지바가 넓고 층고도 높아서 커피나 맥주 먹으며 쉬기에 좋고요.매일 주시는 1.5리터 생수ㅎㅎ별거 아닐수 있지만 매우 감사했구요.다만 층수가 낮은 방이어서 그런가 모기가 있었어요 그외에는 다 깨끗했구요. 매트리스가 오래됐는지 묘하게 불편해서 허리가 아프긴 하더라고요 다행히 세미온돌이라 바닥에서 자는게 오히려 나았고요조식은...최근 후기가 다 별로라길래 하루만 가봤는데 역시ㅎ 뭐 저렴하기도 하지만.. 저는 나가서 먹었습니다.