# 리스트와 튜플

In [1]:
a = 1
b = 2
c = 3
d = 4
e = 5

In [2]:
L1 = [1,2,3,4,5]

In [6]:
L2 = ['파이썬', 1, 17.2, True]
L2

['파이썬', 1, 17.2, True]

In [7]:
L3 = []

## list() 형변환 함수

In [8]:
print(type(range(10)))

<class 'range'>

In [12]:
L5 = list(range(10))
print(L5)
print(type(list(range(10))))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'list'>

## range()함수
* range(시작, 끝, 증가값)

In [13]:
list(range(1,20,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [15]:
list(range(3,30,3))

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [16]:
list(range(40,3,-3))

[40, 37, 34, 31, 28, 25, 22, 19, 16, 13, 10, 7, 4]

## .append()함수
* 리스트 끝에 자료 추가하는 함수

In [20]:
L2.append(3)
print(L2)

['파이썬', 1, 17.2, True, 3, 3]

In [21]:
del L2[-1]

In [22]:
print(L2)

['파이썬', 1, 17.2, True, 3]

In [23]:
L2.append([1,2,3]) 
L2

['파이썬', 1, 17.2, True, 3, [1, 2, 3]]

* 길이를 재는 함수 : len()

In [24]:
len(L2)

6

## insert()
* .insert(추가할 위치 인덱스, 값)

In [25]:
L2.insert(2, "리스트 함수")
print(L2)

['파이썬', 1, '리스트 함수', 17.2, True, 3, [1, 2, 3]]

## 리스트의 자료 삭제

1. del 변수명[인덱스번호]
2. .pop() : 리스트의 가장 끝 자료가 출력되고 삭제됨.
3. .remove(값) : 리스트의 앞부터 일치하는 값 하나를 찾아서 삭제

In [27]:
L2.pop()

[1, 2, 3]

In [28]:
L2

['파이썬', 1, '리스트 함수', 17.2, True, 3]

In [29]:
L2.append(17.2)
print(L2)
L2.remove(17.2)
print(L2)

['파이썬', 1, '리스트 함수', 17.2, True, 3, 17.2]
['파이썬', 1, '리스트 함수', True, 3, 17.2]

In [30]:
del L2[1]
print(L2)

['파이썬', '리스트 함수', True, 3, 17.2]

In [31]:
L2.insert(2, [17.2, 3, '파이썬'])
print(L2)
L2.remove(17.2)
print(L2)

['파이썬', '리스트 함수', [17.2, 3, '파이썬'], True, 3, 17.2]
['파이썬', '리스트 함수', [17.2, 3, '파이썬'], True, 3]

In [32]:
L2[2].remove(17.2)
print(L2)

['파이썬', '리스트 함수', [3, '파이썬'], True, 3]

## 리스트 확장하기 .extend()
append와 달리 extend는 리스트를 넣어도 각각의 요소만 들어감

In [1]:
a = [10,20,30]
print(a)

[10, 20, 30]

In [2]:
a.append([40,50,60])
print(a)

[10, 20, 30, [40, 50, 60]]

In [3]:
a.extend([40,50,60])
print(a)

[10, 20, 30, [40, 50, 60], 40, 50, 60]

## 리스트에서 특정 값의 인덱스 구하기 .index(찾을 값)

In [4]:
a.index(50)

5

In [5]:
a.insert(2,[40,50,60])
print(a)

[10, 20, [40, 50, 60], 30, [40, 50, 60], 40, 50, 60]

In [6]:
a.index(50)

6

In [7]:
a[2].index(50)

1

In [8]:
a.insert(2, 50)
print(a)

[10, 20, 50, [40, 50, 60], 30, [40, 50, 60], 40, 50, 60]

In [9]:
a.index(50)

2

In [11]:
a[3:].index(50)

4

In [12]:
a.index(50,3)

7

## 리스트 안에서 특정 값의 개수 구하기 .count(값)

In [13]:
a.count(50)

2

## 리스트 순서 뒤집기
.reverse()

In [16]:
# 실행하자마자 결과가 바뀜
a.reverse()
print(a)

[10, 20, 50, [40, 50, 60], 30, [40, 50, 60], 40, 50, 60]

In [17]:
a

[10, 20, 50, [40, 50, 60], 30, [40, 50, 60], 40, 50, 60]

## 원본데이터 건들지 않고 인덱싱으로 순서 뒤집기
[::-1]

In [30]:
print(a)
print(a[::-1])
print(a)

[10, 20, 50, [40, 50, 60], 30, [40, 50, 60], 40, 50, 60]
[60, 50, 40, [40, 50, 60], 30, [40, 50, 60], 50, 20, 10]
[10, 20, 50, [40, 50, 60], 30, [40, 50, 60], 40, 50, 60]

## 리스트 정렬하기
.sort() : 오름차순 <br>
.sort(reverse = True) : 내림차순 <br>
값에 리스트와 정수가 혼재되어 있으면 정렬 불가 <br>
실행 즉시 원본데이터를 바꿈

In [18]:
a.sort()

TypeError: '<' not supported between instances of 'list' and 'int'

In [24]:
b = [7,1,6,5,1,5,8,2,8,3]
print(b)

[7, 1, 6, 5, 1, 5, 8, 2, 8, 3]

In [21]:
b.sort()
print(b)

[1, 1, 2, 3, 5, 5, 6, 7, 8, 8]

In [22]:
print(b)

[1, 1, 2, 3, 5, 5, 6, 7, 8, 8]

In [23]:
b.sort(reverse = True)
print(b)

[8, 8, 7, 6, 5, 5, 3, 2, 1, 1]

## 원본데이터를 건들지 않고 리스트 정렬하기
sorted(리스트) 오름차순<br>
sorted(리스트, reverse = True) 내림차순

In [26]:
sorted(b)

[1, 1, 2, 3, 5, 5, 6, 7, 8, 8]

In [27]:
b

[7, 1, 6, 5, 1, 5, 8, 2, 8, 3]

In [28]:
sorted(b, reverse = True)

[8, 8, 7, 6, 5, 5, 3, 2, 1, 1]

# tuple 사용
* 튜플은 리스트처럼 모든 자료형을 넣어서 만들 수 있다.
* 순서가 있는 자료형, 인덱스가 있다. -> 인덱싱, 슬라이싱 가능
* 리스트와 다르게 자료의 추가, 삭제가 안된다.
* 튜플은 ()안에 자료를 넣어서 만든다.
* 튜플 형변환 함수는 tuple()이다.

In [31]:
t = (1,2,3,4,"튜플",[5,6,7],8.5,(8,9,10))
print(t)
print(type(t))

(1, 2, 3, 4, '튜플', [5, 6, 7], 8.5, (8, 9, 10))
<class 'tuple'>

## 튜플에 자료 추가하는 법
튜플을 리스트로 바꾸고 값을 추가한 후 다시 튜플로 만드는 방식으로 추가 가능

## (주의)튜플에 자료를 1개만 넣고 만들 때

In [32]:
t2 = (2)
print(t2)
print(type(t2))

t3 = (3,)
print(t3)
print(type(t3))

2
<class 'int'>
(3,)
<class 'tuple'>