# 리스트와 튜플 중급편
### 시퀀스 자료형 사용하기

* 리스트와 튜플, 문자열의 공통점은 연속된 값이 들어있다는 점.
* 이런 연속적인 자료형을 시퀀스자료형이라고 한다.
* 모두 순서가 있고, 인덱스 번호가 부여되며, 인덱싱, 슬라이싱이 가능하다.
* 반복문에 시퀀스 자료형을 그대로 넣어서 반복시키는 것이 가능하다

### 1. 특정 값이 있는지 확인하기
* 값 in 시퀀스 객체

In [1]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90] 
print(a)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [2]:
30 in a

True

In [3]:
100 in a

False

In [4]:
b = tuple(a)
print(b)

(0, 10, 20, 30, 40, 50, 60, 70, 80, 90)

In [5]:
50 in b

True

In [6]:
s = 'python is easier than other languages'
print(s)

python is easier than other languages

In [7]:
'other' in s

True

## 2. 시퀀스 객체 연결하기
+연산자 사용
-> extend()와 동일 <br>
* 자료형이 동일해야 함.

In [38]:
a = 'python'
b = 'hello'
print(a,b)
print(a+b)

python hello
pythonhello

In [10]:
c = list(range(11))
d = list(range(11,21))

In [11]:
print(c,d)
print(c+d)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10] [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [12]:
f = tuple(range(11))
g = tuple(range(11,21))
print(f,g)
print(f+g)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10) (11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

In [15]:
# 리스트와 튜플 + 연산자
print(c,g)
print(c+g)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10] (11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

TypeError: can only concatenate list (not "tuple") to list

In [16]:
# 문자열과 리스트 + 연산자
print(a+c)

TypeError: can only concatenate str (not "list") to str

## 3. 시퀀스 객체 반복하기
##### * 연산자 사용
단, range는 불가
* 자료형이 같은 경우에만 가능

In [17]:
a * 3

'pythonpythonpython'

In [18]:
'=' * 20 + '문자열' + '='*4

'====================문자열===='

In [20]:
# 하나의 리스트에 요소가 2배로 복사
c*2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
# 하나의 튜플에 요소가 2배로 복사
f * 2

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [27]:
# 리스트 * 튜플 안됨
c*f

TypeError: can't multiply sequence by non-int of type 'tuple'

## 4. 시퀀스 객체는 길이를 계산할 수 있다.
len()

In [28]:
len(f)

11

## 5. 인덱스를 사용할 수 있다.
인덱싱을 통한 자료 변경은 list만 가능

In [29]:
a[3]

'h'

In [30]:
print(c[0])
print(c[:3])

0
[0, 1, 2]

In [31]:
c[0] = 7
print(c)

[7, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [32]:
a[3] = 'g'

TypeError: 'str' object does not support item assignment

In [39]:
a = list(a)
print(a)

['p', 'y', 't', 'h', 'o', 'n']

In [41]:
a[0] = 'P'
print(a)
a= ''.join(a)
print(a)

['P', 'y', 't', 'h', 'o', 'n']
Python